html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
img {
	display: block;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}
a {
	text-decoration: none;
	color: #fff;
}
input,
button {
	outline: none;
	font-family: "Montserrat", sans-serif;
	border: 0;
	cursor: pointer;
}
body {
	font-size: 1.7rem;
	font-family: "Montserrat", sans-serif;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	color: #fff;
}
.inline {
	@include flex(center, center);
}
.warpper {
	max-width: 1440px;
	margin: 0 auto;
}
.container {
	margin: 0 auto;
	max-width: 1210px;
	padding: 0 2rem;
}
.inline-block {
	display: inline-block;
}
.btn {
	padding: 1.2rem 4rem;
	color: #fff;
	border-radius: 0.4rem;
	transition: all 0.25s;
	@include flex(center, center)
}
.btn--red {
	background-color: #f01716;
}
.button__hover--blue:hover button {
	background-color: #0755b5;
}
.uppercase {
	text-transform: uppercase;
}
.right__icon {
	margin-left: 1.2rem;
}
.logo {
	@include flex(center, center);
	&__img {
		width: 6rem;
	}
	&__text {
		font-family: "Poppins", sans-serif;
		font-weight: 600;
		letter-spacing: 1.5px;
		font-size: 2rem;
		// color: #FF1700;
		&--yellow {
			color: #7cd1b8;
		}
		&--red {
			color: #ff914d;
		}
	}
}
.text {
	line-height: 1.3;
	color: #333;
	margin-bottom: 3rem;
}