.contact {
    &-left {
		position: fixed;
		left: 10px;
		bottom: 4px;
		z-index: 9;
		a:hover .contact__social-img {
			transform: scale(0.85);
		}
	}
	&__social {
		padding: 10px;
		&-img {
			width: 4.5rem;
			transition: all 0.2s;
		}
	}
}
// Mobile
@media only screen and (max-width: 739px) {
}

// Tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}

// PC
@media only screen and (min-width: 1024px) {
}