.contact {
    &-left {
		position: fixed;
		left: 10px;
		bottom: 4px;
		z-index: 9;
		a:hover .contact__social-img {
			transform: scale(0.85);
		}
	}
	&__social {
		padding: 10px;
		&-img {
			width: 4.5rem;
			transition: all 0.2s;
		}
	}
}