@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  color: #555;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  clear: both;
  display: block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Add your css into here*/
.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #fff;
}

input,
button {
  outline: none;
  font-family: "Montserrat", sans-serif;
  border: 0;
  cursor: pointer;
}

body {
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: #fff;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.warpper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 2rem;
}

.inline-block {
  display: inline-block;
}

.btn {
  padding: 1.2rem 4rem;
  color: #fff;
  border-radius: 0.4rem;
  transition: all 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.btn--red {
  background-color: #f01716;
}

.button__hover--blue:hover button {
  background-color: #0755b5;
}

.uppercase {
  text-transform: uppercase;
}

.right__icon {
  margin-left: 1.2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.logo__img {
  width: 6rem;
}
.logo__text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 2rem;
}
.logo__text--yellow {
  color: #7cd1b8;
}
.logo__text--red {
  color: #ff914d;
}

.text {
  line-height: 1.3;
  color: #333;
  margin-bottom: 3rem;
}

.header {
  height: 6.4rem;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1px solid #444;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 4rem;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.header__menu a {
  display: inline-block;
  height: 6.5rem;
  padding: 0 3rem;
}
.header__menu-item {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 6.4rem;
  transition: color 0.25s;
}
.header__menu-item .header--active, .header__menu-item:hover a {
  color: #ff914d;
  border-bottom: 1px solid #444;
}

@media only screen and (max-width: 739px) {
  .logo {
    margin: 0 auto;
  }
  .logo__img {
    width: 4rem;
  }
  .logo__text {
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 1.8rem;
  }

  .header {
    height: 4.2rem;
  }
  .header__menu {
    display: none;
  }
}
.contact-left {
  position: fixed;
  left: 10px;
  bottom: 4px;
  z-index: 10;
}
.contact-left a:hover .contact__social-img {
  transform: scale(0.85);
}
.contact__social {
  padding: 10px;
}
.contact__social-img {
  width: 4.5rem;
  transition: all 0.2s;
}

.slider__img {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}
.slider__title {
  position: absolute;
  z-index: 9;
  left: auto;
  transform: translateY(-50%);
  top: 50%;
  text-shadow: 1px 1px #444;
}
.slider__title h2 {
  padding: 3rem 0;
  font-weight: 800;
  font-size: 6rem;
}
.slider__title h3 {
  font-size: 3rem;
}
.slider__title h4 {
  font-size: 2rem;
  margin-bottom: 5rem;
}
.slider__title h4 i {
  font-size: 0.7rem;
  transform: translateY(-50%);
  top: 50%;
  margin-right: 0.4rem;
}

@media only screen and (max-width: 739px) {
  .slider__img {
    background-position: 40%;
  }
  .slider__title h2 {
    padding: 1.4rem 0;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
  }
  .slider__title h3 {
    font-size: 1.8rem;
  }
  .slider__title h4 {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .slider__title h4 i {
    font-size: 0.7rem;
    transform: translateY(-50%);
    top: 50%;
    margin-right: 0.4rem;
  }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .slider__title {
    transform: translateY(-90%);
  }
  .slider__img {
    background-position: top;
    width: 100vw;
    height: 70vh;
  }
}
.move-header {
  position: fixed;
  right: 12px;
  bottom: 30px;
  z-index: 9;
}
.move-header:hover {
  background-color: #ff2c3a;
}
.move__top i {
  font-size: 3rem;
  color: white;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  display: block;
  border: 1px solid #fefefe;
}

.introduct {
  margin-bottom: 4rem;
  margin-top: 4rem;
  display: block;
}
.introduct__item {
  display: flex;
  flex-wrap: nowrap;
}
.introduct__text, .introduct__image {
  width: 50%;
}
.introduct__info {
  color: #002a5e;
  font-weight: 500;
  font-size: 1.5rem;
  display: inline;
  background: #eee;
  border-start-end-radius: 10rem;
  padding: 0.5rem 4rem 0.5rem 1rem;
  border-left: 0.4rem solid #ff914d;
}
.introduct__title {
  color: #002a5e;
  padding: 2rem 0;
  font-size: 2.5rem;
}
.introduct__image {
  padding-left: 10rem;
}

@media only screen and (max-width: 739px) {
  .introduct {
    margin-bottom: 4rem;
  }
  .introduct__item {
    display: flex;
    flex-direction: column;
  }
  .introduct__text, .introduct__image {
    width: 100%;
  }
  .introduct__text {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .introduct__info {
    font-weight: 500;
    font-size: 1.2rem;
  }
  .introduct__title {
    color: #002a5e;
    padding: 2rem 0;
    font-size: 1.6rem;
  }
  .introduct-iframe {
    margin-bottom: 2.4rem;
    margin: 0 auto;
    width: 100%;
  }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .introduct {
    margin-bottom: 4rem;
  }
  .introduct__item {
    display: flex;
    flex-direction: column;
  }
  .introduct__text, .introduct__image {
    width: 100%;
  }
  .introduct__text {
    font-size: 1.8rem;
    font-weight: 400;
  }
  .introduct__info {
    font-weight: 500;
    font-size: 1.8rem;
  }
  .introduct__title {
    font-size: 2rem;
  }
  .introduct-iframe {
    height: 50rem;
    width: 50rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .introduct__item {
    flex: 1;
  }
  .introduct-iframe {
    flex: 1;
    width: 100%;
    height: auto;
  }
}
.business {
  background-color: #002a5e;
  padding-top: 4rem;
  padding-bottom: 7rem;
}
.business h3 {
  padding: 3rem 0;
  font-size: 2.4rem;
}
.business__container-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem 2rem;
}
.business__box-img {
  position: relative;
  overflow: hidden;
}
.business__box-img:hover .business__text {
  transform: translateY(0);
  opacity: 1;
}
.business__box-img:hover .business__image__title {
  transform: translateY(100%);
}
.business__image {
  border-radius: 0.4rem;
}
.business__image__title {
  text-align: center;
  position: absolute;
  min-height: 4rem;
  padding: 0 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  background-color: rgba(240, 23, 22, 0.9);
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.business__text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(7, 85, 181, 0.9);
  padding: 2rem;
  border-radius: 0.4rem;
  text-align: justify;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  transform: translateY(100%);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.business__text-title {
  font-weight: 600;
  color: #ff914d;
  margin-bottom: 0.8rem;
}
.business__text-desc {
  font-size: 1.4rem;
}
.business__text-more {
  padding: 2rem;
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  bottom: 0;
  font-size: 1.7rem;
  color: #ff914d;
  font-weight: 600;
}
.business__text-more img {
  object-fit: none;
  mix-blend-mode: hue;
}
.business__text-more i {
  margin-left: 0.8rem;
}

@media only screen and (max-width: 739px) {
  .business__container-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem 2rem;
  }
  .business__image__title {
    font-size: 0.8rem;
  }
  .business__text {
    display: none;
  }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .business__image__title {
    font-size: 1.2rem;
  }
  .business__text {
    display: none;
  }
}
.footer {
  background-color: #f8efe4;
  height: 3rem;
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .text {
  margin: 0;
  line-height: 3rem;
}

/*# sourceMappingURL=styles.css.map */
